<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
   <h4 style="margin-left: 5px"><a href="/accounts/">see all accounts</a></h4>
<div style="margin-left: 25px">

<h3>Info about group :</h3>
    <div style="margin-left: 20px">

        <h4 class="text-muted">username :</h4> <p>{{ account.username }}</p>
        <h4 class="text-muted">name : </h4> <p>{{ account.name }}</p>
        <h4 class="text-muted">surname : </h4> <p>{{ account.surname }}</p>
        <h4 class="text-muted">email : </h4> <p>{{ account.email }}</p>
        <h4 class="text-muted">city : </h4> <p>{{ account.city }}</p>
        <h4 class="text-muted">country : </h4> <p>{{ account.country }}</p>
        <h4 class="text-muted">money : </h4> <p>{{ account.money }}</p>
        <h4 class="text-muted">number of card : </h4> <p>{{ account.number_of_card }}</p>
    </div>

</div>
</body>
</html>