<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
   <h4 style="margin-left: 5px"><a href="/posts/">see all posts</a></h4>
<div style="margin-left: 25px">

<h3>Info about group :</h3>
    <div style="margin-left: 20px">

        <h4 class="text-muted">name of group :</h4> <p>{{ post.name }}</p>
        <h4 class="text-muted">description : </h4> <p>{{ post.description }}</p>
    </div>

</div>
</body>
</html>