<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h3 class="btn"><a href="/post/create/">Create Post</a></h3>
    <ul class="list-group">
    {% for post in post_list %}
            <li class="list-group-item">
                id - {{ post.id }} <br>
{#                name of post - #}
                <a href="/post/{{ post.id }}/">{{ post.name }}</a> <br>
                <a href="/post/update/{{ post.id }}" class="btn btn-primary" style="margin-left: 10px; margin-top: 15px">Edit</a>
                <a href="/post/delete/{{ post.id }}" class="btn btn-primary" style="margin-left: 10px; margin-top: 15px">Delete</a>
            </li>
    {% endfor %}
    </ul>
</body>
</html>