<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div style="text-align: center">
    <h4><a href="/posts/">See all posts</a></h4>
    <form action="{% url 'post_update_url' pk=pk %} " method="post" class="form">
    {% csrf_token %}
       {% for field in form %}

           <div class="form-group">
            {{ field.label }}
           {{ field }}
           </div>
        {% endfor %}
    <button class="btn btn-primary">Update</button>
</form>
</div>
</body>
</html>